<div class="row">

	{% for equip in equipments %}
		
			<div class="col-12 col-sm-6 ja-txt-light ja-txt-1 ja-txt-grey">
				<span class="ja-txt-2 ja-txt-bold ja-txt-black">></span> {{ equip.sWording }}
			</div>
		
	{% endfor %}

</div>